  body {
    font-family: arial;
  }

  table {

    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table tr {
 
    padding: 5px;
  }

  table th, table td {
    padding: 5px;
    text-align: center;
  }

  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 600px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 0px;
      display: block;
   
    }

    table td {
      display: block;
      text-align: right;
      font-size: 15px;
    
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bolder;
    }
  }



.panel-primary > .panel-heading {
    color: #fff;
    text-align:center;
}